torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
datasets
pytest
wget
soundfile
numpy==1.26.4
scipy
torch_audiomentations
tqdm
matplotlib
pandas
wandb
comet_ml
editdistance
librosa
hydra-core

black
isort
pre-commit
