train:
  get_spectrogram: # special key for getting spectrogram
    _target_: torchaudio.transforms.MelSpectrogram
    sample_rate: 16000
    n_fft: 400
    hop_length: 160
    n_mels: 80
  audio:
    _target_: torchvision.transforms.v2.Compose
    transforms:
      - _target_: src.transforms.NormalizeRMS
        target_rms: 0.1
      - _target_: src.transforms.GaussianNoise
        max_std: 0.003
        p: 0.5
      - _target_: src.transforms.TimeStretch
        min_time_stretch: 0.9
        max_time_stretch: 1.1
        p: 0.5
      - _target_: src.transforms.PitchShift
        min_semitones: -1
        max_semitones: 1
        p: 0.5
      - _target_: src.transforms.Gain
        min_gain_in_db: -1.2
        max_gain_in_db: 1.2
        p: 0.5
  # spectrogram:
  #   _target_: torchvision.transforms.v2.Compose
  #   transforms:
      # - _target_: src.transforms.Logarithm
      # - _target_: src.transforms.NormalizeSpec
      #   params_path: normalization_params_clean.json
      # - _target_: src.transforms.FrequencyMasking
      #   frequency_mask_param: 27
      #   p: 0.8
      # - _target_: src.transforms.TimeMasking
      #   time_mask_param: 15
      #   p: 0.2
      #   masks_number: 10


inference:
  get_spectrogram:
    _target_: torchaudio.transforms.MelSpectrogram
    sample_rate: 16000
    n_fft: 400
    hop_length: 160
    n_mels: 80
  audio:
    _target_: torchvision.transforms.v2.Compose
    transforms:
      - _target_: src.transforms.NormalizeRMS
  spectrogram:
    _target_: torchvision.transforms.v2.Compose
    transforms:
      - _target_: src.transforms.Logarithm
      - _target_: src.transforms.NormalizeSpec
        params_path: normalization_params_clean.json
